body {
  background: rgb(242, 242, 242);
}

img {
  height: 500px;
  margin-right: 8%;
}

.main {
  margin: 150px auto 0;
  width: 80%;
}

.main > div {
  display: flex;
  padding: 80px 50px;
  box-shadow: 1px 1px 2px #DAD7D7;
  background: #fff;

}

.contact h2 {
  margin-right: 0.7em;
}

.contact div {
  display: flex;
  margin-left: 15px;
  align-items: baseline;
}