body {
  background: rgb(242, 242, 242);
}

img {
  height: 500px;
  margin-right: 8%;
}

.main {
  margin: 150px auto 0;
  width: 80%;
}

.main > div {
  display: flex;
  padding: 80px 50px;
  box-shadow: 1px 1px 2px #DAD7D7;
  background: #fff;

}

h1 {
  margin-bottom: 30px;
}

.contact h2 {
  margin-right: 0.7em;
  font-size: 1.1em;
}

.contact div {
  display: flex;
  
  align-items: baseline;
}

.contact p {
  margin-right: 2.5em;
}

.contact a {
  line-height: 2em;
  margin-left: 15px;
}
ul {
  margin: 0 0;
}

@media screen and (max-width: 850px) {

  img {
 
    margin: 0 10%;
    
  }
  .main > div {
  display: block;
  }
  
}

@media screen and (max-width: 580px) {

  img {
 
    height: 400px;
  }
}
